@import '../../style/global.scss';

.shadow-large {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.background-alt {
    background: $background-alt;
}

#projects {
    padding: 50px 15px;
    border-bottom: 1px solid $border;
    text-align: center;

    h2 {
        color: $heading;
        margin-bottom: 50px;
    }

    .container {
        // display: flex;
    }
}

.project {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    display: flex;
    text-align: left;
    height: 10rem
}

.project-image {
    float: left;
    height: 10rem;

    img {
        height: 10rem;
        width: 15rem
    }

    .ingaBraBygg {
        height: 10rem;
        width: 5rem;
        margin: auto 5rem auto 5rem;
    }
}

.project-info {
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // margin-left: 300px;
    padding: 15px;
    margin-left: 5rem;

    h3 {
        font-size: 1.5em;
        font-weight: 300;
        color: $heading;
        margin: 0 0 15px 0;
    }

    p {
        color: $text;
        margin: 0 0 15px 0;
        font-size: 0.9em;
    }
}

.no-image {
    .project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        transform: none;
    }
}

#more-projects {
    display: none;
}