@import '../../style/global.scss';
@import '../../style/color.scss';

.About {
    padding: 75px 15px;
    border-bottom: 1px solid $border;
    // text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        color: $heading;
        
    }

    p {
        color: $text;
        margin: 0;
        width: 70%;
    }
}