@import '../../style/global.scss';
@import '../../style/color.scss';

.About {
    padding: 75px 15px;
    border-bottom: 1px solid $border;

    h2 {
        color: $heading;
    }

    p {
        color: $text;
        margin: 0;
    }
}