@import '../../style/global.scss';
@import '../../style/color.scss';

.background-alt {
    background: $background-alt;
}


#experience {
    padding: 3rem 1rem;
    text-align: center;
    border-bottom: 1px solid $border;
    h2 {
        color: $heading;
    }
}

.experienceWrapper {
    display: flex;
    justify-content: center;
    .date-1 {
        margin-bottom: 8.8rem;
        margin-top: 1rem;
        position: relative;
    }
    .timeLine {
        content: '';
        height: 20rem;
        width: 3px;
        margin: 0 1.5rem 0 1.5rem;
        background: linear-gradient(to bottom, $base-color, rgba($base-color, 0));
    }

    .experienceContent {
        flex-direction: column;
        text-align: left;
        width: 50%;
        .experienceItem{
            background: #fff;
            border: 1px solid #e6e6e6;
            padding: 15px;
            border-radius: 3px;
            margin-bottom: 1rem;
        }
        li {
            list-style-type: none;
        }

        .experienceTitle {
            font-weight: bold;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        .exDescribe {
            margin-bottom: 5px;
            width: 100%;
        }

        .exMethod {
            width: 100%;
        }
    }
}
